.classpath
.project
.settings/
bin/
out/
.idea/
APDescription.txt
MTPs-Main-Container.txt
## latex
*.acn
*.aux
*.fdb_latexmk
*.fls
*.glo
*.ist
*.log
*.out
*.synctex.gz
*.synctex.gz(busy)
*.toc
*.sta
*.pdf
*.bbl
*.blg
*.dvi
*.bcf
*.run.xml
!main.pdf
!pres.pdf
*.nav
*.snm